<div class="action-bar">
{{!--   <div class="socialshare-actions">
    <span class='ss_facebook'><i class="icon-facebook-sign"></i></span>
    <span class='ss_twitter'><i class="icon-twitter-sign"></i></span>
    <span class='ss_googleplus'><i class="icon-google-plus-sign"></i></span>
    <span class='ss_linkedin'><i class="icon-linkedin-sign"></i></span>
    <span class='ss_email'><i class="icon-envelope-alt"></i></span>
    <span class='ss_print'><i class="icon-print"></i></span>
  </div><!--/.ssocialshare-actions--> --}}

  <div class="user-actions">
    <!-- Button Bar -->
    <div class="btn-group">
      <a href="#" class="btn btn-default">Discuss</a>
      <a href="#" class="btn btn-default">Save</a>
      <a href="#" class="btn btn-default">Recommend</a>
      <div class="btn-group">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            share
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a class='ss_facebook'><i class="icon-facebook-sign"></i></a></li>
            <li><a class='ss_twitter'><i class="icon-twitter-sign"></i></a></li>
            <li><a class='ss_googleplus'><i class="icon-google-plus-sign"></i></a></li>
            <li><a class='ss_linkedin'><i class="icon-linkedin-sign"></i></a></li>
            <li><a class='ss_email'><i class="icon-envelope-alt"></i></a></li>
            <li><a class='ss_print'><i class="icon-print"></i></a></li>
          </ul>
        </div>
    </div>
  </div><!--/.user-actions-->
</div><!--/.action-bar-->
