<div class="event-summary panel">
  <h1>Conference Title</h1>
  <ul class="event-detail-list">
    <li class="event-location">
      <div class="detail-icon">
        <i class="icon-map-marker"></i>
      </div>
      <div class="detail-content" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">San Diego Convention Center</span><br>
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">111 W. Harbor Drive</span><br>
          <span itemprop="addressLocality">San Diego</span>,
          <span itemprop="addressRegion">CA</span>
          <span itemprop="postalCode">92101</span>
        </span>
      </div>
    </li>
    <li class="event-date">
      <div class="detail-icon">
        <i class="icon-calendar"></i>
      </div>
      <div class="detail-content">
        <meta itemprop="startDate" content="2013-05-04">
        <meta itemprop="startDate" content="2013-05-08">
        4–8 May 2013
      </div>
    </li>
    <li class="event-host">
      <div class="detail-icon">
        <i class="icon-building"></i>
      </div>
      <div class="detail-content" itemprop="performer" itemscope="" itemtype="http://schema.org/Organization">
        <span itemprop="name">
          <a href="http://auanet.org" itemprop="url" target="_blank">American Urological Association</a>
        </span>
      </div>
    </li>
    <li class="event-description">
      <div class="detail-icon">
        <i class="icon-align-justify"></i>
      </div>
      <div class="detail-content" itemprop="description">
        <p>The American Urological Association (AUA) extends a special invitation to urology professionals around the world to join us in San Diego, CA for the 2013 AUA Annual Meeting. Now in its 108th year, the AUA Annual Meeting is the largest gathering of urologists in the world, providing unparalleled access to groundbreaking research, new guidelines and the latest advances in urologic medicine.</p>
      </div>
    </li>
    <li class="event-url">
      <div class="detail-icon">
        <i class="icon-external-link"></i>
      </div>
      <div class="detail-content">
        Visit the <a itemprop="url" href="http://www.aua2013.org/" target="_blank">conference website</a> for more details.
      </div>
    </li>
  </ul>
</div><!--/.event-details-->