<div class="content-header">
  <div class="header-inner">
    <h2 id="content-main-heading" data-dropdown="drop-channel-list" style="display:inline;">Cardiology</h2>
    <h3 class="subheader" data-dropdown="drop-cardiology-topic-list" style="display:inline;"><span>/</span> All topics</h3>
  </div>
</div>
<ul id="drop-channel-list" class="f-dropdown" data-dropdown-content>
  {{#each channel-list}}
  <li><a href="#">{{channel-title}}</a></li>
  {{/each}}
</ul>
<ul id="drop-cardiology-topic-list" class="f-dropdown" data-dropdown-content>
  {{#each channel-list}}
  <li><a href="#">{{channel-title}}</a></li>
  {{/each}}
</ul>
