<div class="page-header">
    <h1 class="dropdown">
      <a data-toggle="dropdown" data-target="#" href="#">All Channels <span class="caret"></span></a>
      <ul class="dropdown-menu drop-channel-list" role="menu" aria-labelledby="dropdownMenu1">
        {{#each channel-list}}
        <li><a href="#">{{channel-title}}</a></li>
        {{/each}}
      </ul>
      /
    <small class="btn-group">
      <a data-toggle="dropdown" data-target="#" href="#">All Topics <span class="caret"></span></a>
      <ul class="dropdown-menu drop-cardiology-topic-list" role="menu" aria-labelledby="dropdownMenu1">
        {{#each channel-list}}
      <li><a href="#">{{channel-title}}</a></li>
      {{/each}}
      </ul>
    </small><!--/.dropdown-->
    </h1><!--/.dropdown-->
</div><!--/.page-header-->
