<!-- Disable until Profile Pages are Live -->
<div is="cta3">
	<div class="cta-action">
		<a class="button cta-button survey-button" href="#" data-pusurveyurl="adopstest01"><span class="cta-button-text">Help us test the pulse of the cardio community</span></a>
	</div> <!--/.cta-action-->
</div>