<div class="dashboard">
  {{!-- <div class="user-console">
    {{> user-console}}
  </div><!--/.user-console--> --}}
  <div class="user-nav">
    {{> user-nav}}
  </div><!--/.user-nav-->
  {{!-- {{> topic-nav}} --}}
  <div class="topic-spotlight">
    {{> topic-spotlight}}
  </div><!--/.topic-spotlight-->
</div><!--/.dashboard-->
