
<div class="channel-container">
<h5><a class="channel-title" href="#">Cardiology</a></h5>
  <div class="editor-container">
    <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
    <span class="title">Editor in Chief</span><br>
    <a class="editor-name" href="#">Name Name. MD</a>
  </div>
</div>
<div class="channel-container">
<h5><a class="channel-title" href="#">Dermatology</a></h5>
  <div class="editor-container">
    <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
    <span class="title">Editor in Chief</span><br>
    <a class="editor-name" href="#">Name Name. MD</a>
  </div>
</div>
<div class="clear-fix hide-for-small"></div>
<div class="channel-container">
<h5><a class="channel-title" href="#">Eye Care</a></h5>
  <div class="editor-container" style="float:left; clear:left; padding-left:50px;">
    <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
    <span class="title">Editor in Chief</span><br>
    <a class="editor-name" href="#">Name Name. MD</a>
  </div>
  <div class="editor-container" style="float:left; clear:left; padding-left:50px;">
    <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
    <span class="title">Editor in Chief</span><br>
    <a class="editor-name" href="#">Name Name. MD</a>
  </div>
</div>
<div class="channel-container">
<h5><a class="channel-title" href="#">Oncology</a></h5>
  <div class="editor-container">
    <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
    <span class="title">Editor in Chief</span><br>
    <a class="editor-name" href="#">Name Name. MD</a>
  </div>
</div>
<div class="clear-fix hide-for-small"></div>
<div class="channel-container">
<h5><a class="channel-title" href="#">Primary Care</a></h5>
  <div class="editor-container">
    <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
    <span class="title">Editor in Chief</span><br>
    <a class="editor-name" href="#">Name Name. MD</a>
  </div>
</div>
<div class="channel-container">
<h5><a class="channel-title" href="#">Urology</a></h5>
  <div class="editor-container">
    <a href="#"><img class="avatar as50" src="http://placehold.it/60x60"/></a>
    <span class="title">Editor in Chief</span><br>
    <a class="editor-name" href="#">Name Name. MD</a>
  </div>
</div>