{{#items}}
  <article class="feature-grid-variant">
  <a class="item-title editorial-title" href="#">{{title}}</a>
  <p class="item-citation">Journal Citation MON issue999 name name name name expert</p>
</article>
{{/items}}
