<div class="footer-row legal">
  <div class="els-logo"><img src="{{relative page.dest assets}}/img/elsevier_logo.png" alt="Elsevier Logo" /></div>
  <p class="copyright">HCP Online&reg; is a registered trademark or Elsevier Inc.</p>
  <p class="copyright">Copyright &copy; 2013 Elsevier Inc. <br />All rights reserved.</p>
</div>
