<div class="footer-row">
  <div class="social-links btn-group">
  	<a class="btn btn-primary" href="http://www.facebook.com/practiceupdate"><i class="icon-facebook icon-2x"></i></a>
  	<a class="btn btn-primary" href="http://www.twitter.com/practiceupdate"><i class="icon-twitter icon-2x"></i></a>
  	<a class="btn btn-primary" href="https://plus.google.com/118384589571934081486" rel="publisher"><i class="icon-google-plus icon-2x"></i></a>
  </div>
</div>

<div class="footer-row legal">
<div class="els-logo"><img src="{{relative page.dest assets}}/img/elsevier_logo.png" alt="Elsevier Logo" /></div>
<p class="copyright">PracticeUpdate&reg; is a registered trademark or Elsevier Inc.</p>
<p class="copyright">Copyright &copy; 2013 Elsevier Inc. <br />All rights reserved.</p>
</div>
