<!-- PAGE HEADER -->
<div class="page-heading-container">
  <header role="banner" class="container page-heading-marketing">
    <div class="row">
      <div class="col-sm-6 pu-branding-marketing">
        <img src="../assets/img/logo-practiceupdate-inverse.png">
      </div><!--/.pu-branding-marketing-->
      <div class="col-sm-6 pres-by-els">
        <span>presented by</span>&nbsp;<img src="../content/marketing/general-landing/elsevier-logo-header@2x.png" />
      </div><!--/.pres-by-els-->
    </div><!--/.row-->
  </header><!--/.container-->
</div><!--/.page-header-marketing-->
