<div class="prompt access-prompt active-access">
  <!-- <a class="close"><i class="icon-remove"></i></a> -->
  <div class="prompt-header access-prompt-header">
    <span class="prompt-header-text"><i class="icon-time"></i> Available until <time datetime="13-07-06">July 6, 2013</time></hspan>
  </div><!--/.prompt-header-->
  <div class="prompt-body access-prompt-body">
    <p>You're enjoying temporary access to this content because it was shared by a registered user. <a href="http://www.practiceupdate.com/User/Register">Create a free account</a> to gain permanent access to all PracticeUpdate content.</p>
  </div><!--/.prompt-body-->
  <div class="prompt-footer access-prompt-footer">
<a class="button small" href="http://www.practiceupdate.com/User/Register">Register Now</a>
  </div><!--/.prompt-footer-->
</div><!--/.prompt-->
<div class="prompt access-prompt active-access">
  <div class="prompt-header access-prompt-header">
    <span class="prompt-header-text"><i class="icon-time"></i> Available until <time datetime="13-07-06">July 6, 2013</time></hspan>
  </div><!--/.prompt-header-->
  <div class="prompt-body access-prompt-body">
    <p>Welcome to PracticeUpdate! We hope you are enjoying free access to a selection of our top-read and most recent articles. Please <a href="http://www.practiceupdate.com/User/Register">register today</a> to customize your experience and gain full access to all of our expert-selected content. Already Have An Account? <a href="http://practiceupdate.com/login">Log in Now</a></p>
  </div><!--/.prompt-body-->
  <div class="prompt-footer access-prompt-footer">
<a class="button small" href="http://www.practiceupdate.com/User/Register">Register Now</a>
  </div><!--/.prompt-footer-->
</div><!--/.prompt-->
<div class="prompt access-prompt expired-access">
  <!-- <a class="close"><i class="icon-remove"></i></a> -->
  <div class="prompt-header access-prompt-header">
    <span class="prompt-header-text"><i class="icon-time"></i> Access expired on <time datetime="13-07-06">July 6, 2013</time></hspan>
  </div><!--/.prompt-header-->
  <div class="prompt-body access-prompt-body">
    <p>This content was originally shared by a registered user, but access has expired. <a href="http://www.practiceupdate.com/User/Register">Create a free account</a> to gain permanent access to all PracticeUpdate content.</p>
  </div><!--/.prompt-body-->
  <div class="prompt-footer access-prompt-footer">
<a class="button small" href="http://www.practiceupdate.com/User/Register">Register Now</a>
  </div><!--/.prompt-footer-->
</div><!--/.prompt-->
