<div class="suggested-topics">
  <ul class="list-inline">
    <li class="list-header">Suggested Topics:</li>
    <li><a href="#">Arrhythmias/Heart Rhythm Disorders</a></li>
    <li><a href="#">Cardiac Electrophysiology Studies</a></li>
    <li><a href="#">Cardiac Imaging</a></li>
    <li><a href="#">Cardiac Procedures and Surgeries</a></li>
  </ul>
</div><!--/.suggested-->
