<section class=" take-home-message">
  <h2>TAKE-HOME MESSAGE</h2>
    <div class="source-container">
      <div class="vcard">
      <div class="expert-photo">
        <!-- <img class="photo" src="content/img/users/Axel_Grothey_2009_REVISED_tcm8-199717.jpg"> -->
        <!-- <p class="label">Fellow</p> -->
      </div>

      <div class="expert-name">
        <!-- Axel  Grothey MD -->
        <!-- <p class="label">Fellow</p> --> Written by
        <a class="fn" href="#">
          <span class="n">
            <!-- <span class="honorific-prefix">Dr.</span> -->
            <span class="given-name">Patrick</span>
            <abbr class="additional-name"></abbr>
            <span class="family-name">Morris</span>,
            <span class="honorific-suffix">MD</span>
          </span>
        </a><!--/.fn-->
      </div><!--/.expert-name-->
      </div><!--/.vcard-->
    </div><!--/.source-container-->
    <ul>
      <li>Something goes here</li>
      <li>Something goes here</li>
      <li>Something goes here</li>
      <li>Something goes here</li>
    </ul>
    <ol>
      <li>Something goes here</li>
      <li>Something goes here</li>
      <li>Something goes here</li>
      <li>Something goes here</li>
    </ol>
  <p>In a phase III trial, patients with metastatic colorectal cancer who failed first-line oxaliplatin-based therapy had improved survival with second-line FOLFIRI plus the antiangiogenic agent aflibercept, compared with second-line FOLFIRI alone.</p>
</section><!--/.take-home-message-->