<nav class="topic-nav">
<!--large-screen-->
  <div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-home icon-2x"></i></a></p>
    <div class="content" data-section-content>
<header class="nav-header">Browse</header>
<ul class="side-nav">
  <li><a href="#">Update</a></li>
  <li><a href="#">Explore</a></li>
  <li><a href="#">Learn</a></li>
  <li><a href="#">Discuss</a></li>
</ul>
<hr />
<header class="nav-header">Read Later</header>
<ul class="side-nav">
  <li><a href="#">My List</a></li>
  <li><a href="#">Favorites</a></li>
  <li><a href="#">Dr. Zipes</a></li>
</ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-user icon-2x"></i></a></p>
    <div class="content" data-section-content>
      <div class="current-user">
        <div class="user-details">
          <p class="user-name">brad strong <span>Validated</span></p>
          <p class="user-title">Physician <span class="pv-status-indicator"><a href="#" class="has-tip tip-right" title="Click to become a validated physician."><i class="icon-user-md"></i></a></span></p>
        </div>
      </div><!--/.current-user-->
<ul class="side-nav">
  <li><a href="#">Profile</a></li>
  <li><a href="#">Account</a></li>
  <li><a href="#">Subscriptions</a></li>
  <li><a href="#">HCP Only</a></li>
</ul>
  <ul class="side-nav">
    <li id="UserConsolePreferences"><a id="PreferencesLink" href="preferences.html">My Profile &amp; Settings</a></li>
    <li><a id="Logout" href="/User/LogOut">Logout</a></li>
  </ul><!--/.drawer-menu-->
    </div>
  </section>
</div>
<!--small-screen-->
  <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-home icon-2x"></i></a></p>
    <div class="content" data-section-content>
<header class="nav-header">Browse</header>
<ul class="side-nav">
  <li><a href="#">Update</a></li>
  <li><a href="#">Explore</a></li>
  <li><a href="#">Learn</a></li>
  <li><a href="#">Discuss</a></li>
</ul>
<hr />
<header class="nav-header">Read Later</header>
<ul class="side-nav">
  <li><a href="#">My List</a></li>
  <li><a href="#">Favorites</a></li>
  <li><a href="#">Dr. Zipes</a></li>
</ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#"><i class="icon-user icon-2x"></i></a></p>
    <div class="content" data-section-content>
      <div class="current-user">
        <div class="user-details">
          <p class="user-name">brad strong <span>Validated</span></p>
          <p class="user-title">Physician <span class="pv-status-indicator"><a href="#" class="has-tip tip-right" title="Click to become a validated physician."><i class="icon-user-md"></i></a></span></p>
        </div>
      </div><!--/.current-user-->
<ul class="side-nav">
  <li><a href="#">Profile</a></li>
  <li><a href="#">Account</a></li>
  <li><a href="#">Subscriptions</a></li>
  <li><a href="#">HCP Only</a></li>
</ul>
  <ul class="side-nav">
    <li id="UserConsolePreferences"><a id="PreferencesLink" href="preferences.html">My Profile &amp; Settings</a></li>
    <li><a id="Logout" href="/User/LogOut">Logout</a></li>
  </ul><!--/.drawer-menu-->
    </div>
  </section>
</div>
</nav>
