/* item card */

.item-header-container{@include grid-column(12);}
.item-header{
  @include grid-row(nest);
	padding-top:$base-font-size/2;
	}
	.pub-meta{@include grid-column(12);}
.item-title-container{@include grid-column(12);}
.action-bar{@include grid-column(12);}
.socialshare-actions{
  margin-bottom: $base-font-size;
  a:hover{
    text-decoration: none;
  }
}


@media only screen and (max-width: $topbar-breakpoint) {
	.item-title-container, .item-type{
		display: block;
		text-align: left;
	}
}
.item-container{
	.commentary-container{@include grid-column(12);}
	.source-title{font-size:ms(0);}
}
.item-title{
  font-size:ms(1);
  a:hover{ text-decoration: underline;}
}
.item-content-container{@include grid-column(12);}
.item-content{@include grid-row(nest);}
.item-content-section{@include grid-column(12);}
.item-footer{@include grid-column(12);}

.commentary-container{
	p{
	}
}
.commentary-container{
	figure[class$="-photo"]{
		@include grid-column(2);
	}
}

.expert-photo .label{display: none;}
.item-source-container{
	@include grid-column(12);
	figure[class$="-photo"]{
		@include grid-column(2);
	}
	div[class$="-name"]{
		@include grid-column(6);
	}
	.label{
		color: #D6E03D;
		line-height: 1;
		text-transform: uppercase;
	}
}

.item-source{
	padding-bottom:$base-font-size;
	@include clearfix();
	background-color:light($bodyBackground, 25);
	.source-citation{margin-bottom:0px;}
}