---
title: Conference
layout: layout-conference.hbs
---
<div class="page-content-heading">
{{> content-header}}
</div><!--/.page-content-heading-->
<main id="main" role="main">
  <div class="conference-container">
      {{! <!-- begin featured content bucket -->}}
  <section class="conference-section page-section">
{{> conference-detail}}
</section><!--/conference-section-->
  <section class="conference-section page-section">
  <div class="page-section-heading">
    <h3 class="page-section-title">Conference Coverage</h3>
  </div><!--/.page-section-heading-->
  <div class="page-section-filter">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">All</a></li>
      <li><a href="#">Expert Opinion</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Journal Scan</a></li>
    </ul>
  </div><!--/.page-section-filter-->
  <div class="page-section-body">
    {{> feed-item feed}}
  </div><!--/.page-section-body-->
<div class="page-section-footer">
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div><!--/.page-section-footer-->
</section><!-- /.conference-section-->
</div><!--/.conference-container-->
  <div id="aux" class="aux">
    {{> cta cta-rmrc-test}}
    {{> ad ad-boombox1}}
    {{> module-most-read most-read}}
    {{> ad ad-filmstrip1}}
    {{>module-job-feed job-feed}}
    {{> ad ad-boombox2}}
  </div><!--/#aux.aux-->
</main><!--/[role="main"]-->
