---
title: Dashboard
layout: layout-dashboard.hbs
---
<div class="page-content-header">
</div><!--/.page-content-header-->
<main id="main" role="main">
<div class="row">
  <div class="col-xs-12">
  </div>
</div><!--/.row-->
	<div class="dashboard-container">
    <div class="page-header">
      <h2>Distinct Healthcare Professionals <a type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="info" title="info">
          <i class="fa fa-info"></i>
        </a></h2>
    </div>
<section class="page-section">
  <div class="page-section-heading">
    <h3 class="page-section-title">Providers by state/source</h3>
  </div><!--/.page-section-heading-->
  <div class="page-section-body">
    <div id="dash-chart-1" style="width:100%; height:400px;"></div>
  </div><!--/.page-section-body-->
  <div class="page-section-footer">
  </div><!--/.page-section-footer-->
</section><!--/.page-section-->
<section class="page-section">
  <div class="page-section-heading">
    <h3 class="page-section-title">Providers by state/source (cont'd)</h3>
  </div><!--/.page-section-heading-->
  <div class="page-section-body">
    <div id="dash-chart-2" style="width:100%; height:400px;"></div>
  </div><!--/.page-section-body-->
</section><!--/.page-section-->
  <section class="page-section">
  <div class="page-section-heading">
    <h3 class="page-section-title">Elsevier Product Users</h3>
  </div><!--/.page-section-heading-->
  <div class="page-section-body">
    <div id="dash-chart-3" style="width:100%; height:400px;"></div>
  </div><!--/.page-section-body-->
  <div class="page-section-footer">
  </div><!--/.page-section-footer-->
  </section><!-- /.page-section-->
  <section class="page-section">
  <div class="page-section-heading">
    <h3 class="page-section-title">External Sources</h3>
  </div><!--/.page-section-heading-->
  <div class="page-section-body">
    <div id="dash-chart-4" style="width:100%; height:400px;"></div>
  </div><!--/.page-section-body-->
  <div class="page-section-footer">
  </div><!--/.page-section-footer-->
  </section><!-- /.page-section-->
  </div><!--/.dashboard-container-->
</main><!--/#main-->
