---
title: Explore
layout: layout-explore.hbs
---
<div class="page-content-heading">
{{> content-header}}
{{> suggested-topics}}
</div><!--/.page-content-heading-->
<main id="main" role="main">
  <div class="explore-container">
      {{! <!-- begin featured content bucket -->}}
  <section class="explore-section page-section">
  <div class="page-section-heading">
    <h3 class="page-section-title">Inside PracticeUpdate</h3>
  </div><!--/.page-section-heading-->
  <div class="page-section-filter">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">All</a></li>
      <li><a href="#">Expert Opinion</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Journal Scan</a></li>
    </ul>
  </div><!--/.page-section-filter-->
  <div class="page-section-body">
    {{> feed-item feed}}
  </div><!--/.page-section-body-->
<div class="page-section-footer">
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div><!--/.page-section-footer-->
</section><!-- /.explore-section-->
<section class="explore-section page-section">
  <header class="page-section-heading">
    <h3 class="page-section-title">Meet Our Experts</h3>
    <p class="lead">PracticeUpdate is guided by a world-renowned Editorial and Advisory Board that represents community practitioners and academic specialists with cross-disciplinary expertise.</p>
  </header><!--/.page-section-heading-->
  <div class="page-section-body">
  {{> explore-editors}}
  </div><!--/.page-section-body-->
<div class="page-section-footer">
  <a class="btn btn-default">View all boards</a>
</div><!--/.page-section-footer-->
</section><!--/explore-section-->

</div><!--/.explore-container-->
  <div id="aux" class="aux">
    {{> cta cta-rmrc-test}}
    {{> ad ad-boombox1}}
    {{> module-most-read most-read}}
    {{> ad ad-filmstrip1}}
    {{>module-job-feed job-feed}}
    {{> ad ad-boombox2}}
  </div><!--/#aux.aux-->
</main><!--/[role="main"]-->
