---
title: Explore
layout: layout-single-item.hbs
---

<div class="single-item-container">
  <article class="type-blog featured single-item">
    <div class="item-header-container">
      <header class="item-header">
        <div class="flag-container"><span class="flag featured"><i class="icon-bolt"></i> featured</span></div>
        <div class="meta pub-meta">
          <span class="item-type"><a href="#">Journal Scan</a></span>, Published in <span class="item-channel"><a href="#">Oncology</a></span> on
        </div>
        <hgroup class="item-title-container">
          <span class="item-title editorial-title">Second-Line FOLFIRI/Aflibercept Ups Survival in Metastatic Colorectal Cancer</span>
          <h1 class="item-title article-title">Second-Line FOLFIRI/Aflibercept Ups Survival in Metastatic Colorectal Cancer</h1>
          <p class="item-citation">{{source.citation}}</p>
          <p class="affiliate-institution">affiliate institution</p>
        </hgroup><!-- /.item-title-container -->
{{> action-bar}}
      </header>
    </div><!--/.item-header-container-->

  <div class="item-content-container">
  <div class="item-content">
    <div class="item-content-section">
{{> take-home-message}}
    </div><!--/.item-content-section-->
    <div class="item-content-section">
{{> editors-description}}
    </div><!--/.item-content-section-->
    <div class="item-content-section">
{{> eo-description}}
    </div><!--/.item-content-section-->
    <div class="item-content-section">
{{> video-description}}
    </div><!--/.item-content-section-->
    <div class="item-content-section">
      <section class="commentary">
        <div class="commentary-container">
          <h2><i class="icon-comment"></i> Expert Commentary</h2>
          <div class="source-container">
          <ul class="source-type author"><span>written by</span></ul>
          <ul class="source-type contributor"><span>written by</span></ul>
          <ul class="source-type interviewer"><span>interview with</span></ul>
          <ul class="source-type interviewee"><span>interview by</span></ul>
            <div class="vcard">
            <div class="expert-photo">
              <img class="photo" src="content/img/users/Axel_Grothey_2009_REVISED_tcm8-199717.jpg">
              <!-- <p class="label">Expert</p> -->
            </div>

            <div class="expert-name">
              <!-- Axel  Grothey MD -->
              <a class="fn" href="#">
                <span class="n">
                  <!-- <span class="honorific-prefix">Dr.</span> -->
                  <span class="given-name">Axel</span>
                  <abbr class="additional-name"></abbr>
                  <span class="family-name">Grothey</span>
                  <span class="honorific-suffix">MD</span>
                </span>
              </a><!--/.fn-->
            </div><!--/.expert-name-->
            </div><!--/.vcard-->
          </div><!--/.source-container-->
            <p>Metastatic colorectal cancer is generally treated initially with a regimen of fluorouracil and leucovorin plus either oxaliplatin (FOLFOX) or irinotecan (FOLFIRI). Patients cross over to the alternate regimen for second-line therapy. The antiangiogenic agent bevacizumab has been shown to increase survival in patients with metastatic colorectal cancer in the first-line setting when added to FOLFIRI and in the second-line setting when added to FOLFOX, but no biologic agent has been shown to improve survival in the second-line setting when added to FOLFIRI.</p><p>Aflibercept is a recombinant fusion protein that targets three factors that contribute to tumor angiogenesis: vascular endothelial growth factor A (VEGFA), VEGFB, and placental growth factor (PlGF). In a multinational phase III study sponsored by Sanofi, Van Cutsem et al added aflibercept to FOLFIRI as second-line therapy for metastatic colorectal cancer previously treated with oxaliplatin. Prior bevacizumab was allowed, but not prior irinotecan.</p><p>Between 2007 and 2010, a total of 1226 patients were randomized to receive aflibercept 4 mg/kg (n = 612) or placebo (n = 614) on day 1 every 2 weeks, followed by the FOLFIRI regimen (irinotecan 180 mg/m2, leucovorin 400 mg/m2, and fluorouracil 400 mg/m2 bolus and then 2400 mg/m2 by continuous infusion). Crossover to aflibercept after progression on placebo was not permitted.</p><p>At the February 2011 cutoff date for analysis of overall survival (OS), the primary endpoint, median follow-up was 22.28 months. The patients receiving aflibercept/FOLFIRI had a median survival of 13.50 months compared with 12.06 months for the placebo/FOLFIRI control patients (hazard ratio [HR], 0.817; P = .0032). At 2 years, survival rates were 28.0% and 18.7%, respectively. The treatment effect favoring aflibercept held in analyses of prespecified subgroups based on prior bevacizumab use and various patient characteristics at baseline.</p><p>Progression-free survival (PFS) increased from 4.7 months for controls to 6.9 months with use of aflibercept (HR, 0.758; P &lt; .0001). Subgroup analyses showed a consistent trend in PFS in favor of aflibercept. The response rate in patients with measurable disease was significantly higher with aflibercept vs placebo (19.8% vs 11.1%; P &lt; .001).</p><p>Grade 3 and 4 adverse events were more common with aflibercept than placebo (83.5% vs 62.5%, respectively). Toxicities related to anti-VEGF treatment were consistent with those reported in previous studies. Interestingly, some common adverse events related to treatment with FOLFIRI were more frequent in the aflibercept arm. These included grade 3 and 4 diarrhea, asthenia, stomatitis, infections, and palmar&#8211;plantar erythrodysesthesia, as well as grade 3 and 4 neutropenia, thrombocytopenia, and neutropenic complications.</p><p>The addition of aflibercept to FOLFIRI led to a relative reduction in the risk of death of 18.3%, compared with placebo/FOLFIRI. The early and continued divergence of the survival curves further supports the clinical value of the aflibercept results. Survival rates for aflibercept vs placebo were 38.5% vs 30.9% at 18 months, 28.0% vs 18.7% at 24 months, and 22.3% vs 12.0% at 30 months.</p><p>The authors concluded that aflibercept plus FOLFIRI may be a new therapeutic option for the treatment of metastatic colorectal cancer patients whose disease has progressed while on or after completion of an oxaliplatin-based regimen.</p>
        </div><!--/.commentary-container-->
      </section><!-- /.commentary-->
    </div><!-- ./item-content-section -->
<hr/>
<div class="item-content-section">
  <section class="abstract">
    <h2 class="content-section-header">summary</h2>
    <h3><h3>background</h3>
    <p>Patients with facial port-wine stains (PWS) often demonstrate oral manifestations of their disorder; however, the spectrum and prevalence of such findings among a cohort of patients with PWS has not been established. As a result, dermatologists and oral health specialists may be uncertain how to counsel their patients with PWS regarding oral hypervascularity, bony oral changes, and oral hygiene.</p>
    <h3>objectives</h3>
    <p>We sought to identify physical findings and complications involving the teeth, oral cavity, and perioral structures in individuals with facial PWS.</p>
    <h3>methods</h3>
    <p>This was a cross-sectional study of 30 patients with facial PWS. Descriptive data were collected through anonymous paired surveys completed by patients and their dentists, and analyzed (Fisher exact test) for trends based on physical findings and stage of the PWS.</p>
    <h3>results</h3>
    <p>The most common orodental manifestations according to patients were enlargement of the lip (53.3%), stained gums (46.7%), abnormal bite (30%), and spontaneous bleeding of the gums (26.7%). Staining of the gingiva correlated significantly with gingival hyperplasia (P = .006), maxillary hyperplasia (P = .014), and widened interdental spaces (P = .002), and in all cases gingival staining predated these findings. Lip hyperplasia was reported more frequently by patients than by their dentists (50% vs 18.2%, P = .008). Orodental manifestations were more common among patients with darker and thicker PWS. Hemorrhage after dental procedures was rare (4.5%).</p>
    </h3>LIMITATIONS:</h3>
    <p>Modest sample size and difficulty recruiting control subjects are limitations.</p>
    <h3>conclusions</h3>
    <p>Facial PWS commonly affect the orodental structures, and intraoral staining may predict future complications.</p>
  <section class="els-promotion">
      <div class="els-promotion-container panel">
        <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="http://www.expertconsultbook.com/expertconsult/ob/book.do?method=display&type=bookPage&decorator=none&eid=4-u1.0-B978-1-4377-0398-6..00091-3--s0035&isbn=978-1-4377-0398-6#lpState=open&lpTab=contentsTab&content=4-u1.0-B978-1-4377-0398-6..C2009-0-59734-6--TOP%3Bfrom%3Dtoc%3Btype%3DaboutPage%3Bisbn%3D978-1-4377-0398-6&search=none" target="_blank" rel="external">
              <img src="content/img/cta/braunwald-textbook.png" class="media-object" alt="Braunwald's Heart Disease">
            </a>
            <div class="media-body">
              <!-- <h4 class="media-heading">Media heading</h4> -->
              <p>For more on this topic, see <a href="http://www.expertconsultbook.com/expertconsult/ob/book.do?method=display&type=bookPage&decorator=none&eid=4-u1.0-B978-1-4377-0398-6..00091-3--s0035&isbn=978-1-4377-0398-6" target="_blank" rel="external">Mental Stress. <cite>Braunwald’s Heart Disease</cite>. Chapter  91. p1905.</a></p>
              <div class="media-action"><a class="button success full" href="http://www.expertconsultbook.com/expertconsult/ob/book.do?method=display&type=bookPage&decorator=none&eid=4-u1.0-B978-1-4377-0398-6..00091-3--s0035&isbn=978-1-4377-0398-6" target="_blank" rel="external">Learn More</a></div>
            </div>
          </li>
        </ul>
      <div class="promotion-content"></div>
      </div>
  </section><!-- /.els-promotion -->
  </section><!--/.abstract-->
</div><!--/.item-content-section-->
<div class="item-content-section">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel-related-items">
          Related Items
        </a>
      </h4>
    </div>
    <div id="panel-related-items" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>
            <a href="#">Trends in the Treatment of Chemotherapy-Induced Peripheral Neuropathy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel-references">
        References
        </a>
      </h4>
    </div>
    <div id="panel-references" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>
            <a href="#">Trends in the Treatment of Chemotherapy-Induced Peripheral Neuropathy</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel-disclosures">
          Disclosures
        </a>
      </h4>
    </div>
    <div id="panel-disclosures" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="list-group">
          <p class="list-group-item"><a href="#">Author Name</a> has disclosed no relevant financial relationships.</p>
          <p class="list-group-item"><a href="#">Author Name</a> has disclosed no relevant financial relationships.</p>
          <p class="list-group-item"><a href="#">Author Name</a> has disclosed no relevant financial relationships.</p>
        </div>
      </div>
    </div>
  </div>
</div><!--/.panel-group-->
</div><!--/.item-content-section-->


    </div><!--/.item-content-->
  </div><!--/.item-content-container-->
  <div class="item-source-container">
                <div class="item-source">
                  <div class="vcard">
                  <!-- <div class="journal-photo">
                    <img class="photo" src="content/img/journal/jco.gif">
                  </div> -->
                  <div class="journal">

                    <!--     -->
                    <a class="fn" href="#">
                      <span class="n">
                        <!-- <span class="honorific-prefix">Dr.</span> -->
                        <span class="given-name">Journal of Clinical Oncology</span>
                      </span>
                    </a><!--/.fn-->
                  <h6 class="item-title">Addition of Aflibercept to Fluorouracil, Leucovorin, and Irinotecan Improves Survival in a Phase III Randomized Trial in Patients With Metastatic Colorectal Cancer</h6>
                  <cite class="subheader">Clin Cancer Res. 2012 Mar 29;[Epub Ahead of Print], DN Finegold, CJ Baty, KZ Knickelbein, S Perschke, SE Noon, D Campbell, JM Karlsson, D Huang, MA Kimak, EC Lawrence, E Feingold, SD Meriney, AM Brufsky, RE Ferrell</cite>
                  </div>
                  <!--/.journal-->
<!--/.journal-->
                  </div><!--/.vcard-->
                </div><!--/.item-source -->
                <div class="user-actions">
                  <!-- Abstract only -->
                  <div class="publisher-access">
                    <div class="panel abstract">
                      <p>The publisher has made this abstract available for free.</p>
                      <a href="#" class="button">Access this abstract now</a>
                    </div><!--/.panel-->
                  </div><!-- /.publisher-access -->

                  <!-- Article Free for 30 days -->
                  <div class="publisher-access">
                    <div class="panel free-thirty">
                      <p>The publisher has made this article available for free until {{free-end-date}}.</p>
                      <a href="#" class="button">Access this article now</a>
                    </div><!--/.panel-->
                  </div><!-- /.publisher-access -->

                  <!-- Article free -->
                  <div class="publisher-access">
                    <div class="panel free">
                      <p>The publisher has made this abstract available for free.</p>
                      <a href="#" class="button">Access this article now</a>
                    </div><!--/.panel-->
                  </div><!-- /.publisher-access -->

                </div><!-- /.user-actions -->
  </div><!--/.item-source-container-->

<footer class="copyright item-footer">
<p>Copyright &copy; Elsevier Inc. All rights reserved.</p>
</footer>
</div><!--/.item-container-->
