---
title: List Builder
layout: layout-search.hbs
---
<div class="page-content-header">
</div>
<!--/.page-content-header-->
<main id="main" role="main" class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">


      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Data Source</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <button type="button" class="btn btn-primary" data-toggle="button">PracticeUpdate</button>
                  <button type="button" class="btn btn-primary" data-toggle="button">eHealth</button>
                  <button type="button" class="btn btn-primary" data-toggle="button">Lakegroup</button>
                  <button type="button" class="btn btn-primary" data-toggle="button">Providere</button>
                  <button type="button" class="btn btn-primary" data-toggle="button">Med Data</button>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <p>Summary of sources:</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Build your Filter
        </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
              <form id="list-filter" class="form-inline">
                <div class- "row">
                  <div class="col-xs-3">
                    <select class="form-control">
                      <option disabled>Geography</option>
                      <option>Country</option>
                      <option>State</option>
                      <option>Territory</option>
                      <option disabled>PracticeUpdate</option>
                      <option>Channel</option>
                      <option>Primary Area of Practice</option>
                      <option disabled>NPI</option>
                      <option>Taxonomy</option>
                      <option>Primary Area of Practice</option>
                    </select>
                  </div>
                  <!--/col-->
                  <div class="col-xs-3">
                    <select class="form-control">
                          <option>equals</option>
                          <option>contains</option>
                          <option>starts with</option>
                          <option>ends with</option>
                          <option>matches RegEx</option>
                          <option>matches RegEx (ignore case)</option>
                          <option>less than</option>
                          <option>less than or equal to</option>
                          <option>greater than</option>
                          <option>greater than or equal to</option>
                          <option>does not equal</option>
                          <option>does not contain</option>
                          <option>does not start with</option>
                          <option>does not end with</option>
                    </select>
                  </div>
                  <!--/col-->
                  <div class="col-xs-4">
                    <div class="form-group">
                      <div class="text">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="">
                      </div>
                    </div>
                  </div>
                  <!--/col-->
                  <div class="col-xs-2">
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!--/.row-->
              </form>
              <!--/#list-filter-->
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Result Options
        </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Include the following information in the results</p>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1" checked>First Name
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2" checked>Last Name
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2" checked>email address
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3" checked>Country
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3" checked>State
              </label>
            </div>
          </div>
        </div>
      </div>

      <a class="btn btn-default btn-block">Build List</a>
      <a class="btn btn-default btn-block"><i class="fa fa-cog fa-spin"></i></a>



    </div>
  </div>
  <hr>
  <!--/.row-->
  <div class="results-container row">
    <div class="col-xs-12">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4>List Results Preview</h4>
    </div><!--/panel-heading-->
      <div class="table-responsive">
        <table class="table table-striped">
        <thead>
        <tr>
        <th>First</th>
        <th>Last</th>
        <th>email</th>
        <th>Country</th>
        <th>State</th>
        <th>details</th>
        </tr>
        </thead>
        <tr>
          <td>jon</td>
          <td>smith</td>
          <td>jsmith@email.com</td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails"><i class="fa fa-eye"></i></a>
        </tr>
        <tr>
          <td>jon</td>
          <td>smith</td>
          <td>jsmith@email.com</td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails"><i class="fa fa-eye"></i></a>
        </tr>
        <tr>
          <td>jon</td>
          <td>smith</td>
          <td>jsmith@email.com</td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails"><i class="fa fa-eye"></i></a>
        </tr>
        <tr>
          <td>jon</td>
          <td>smith</td>
          <td>jsmith@email.com</td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails"><i class="fa fa-eye"></i></a>
        </tr>
        <tr>
          <td>jon</td>
          <td>smith</td>
          <td>jsmith@email.com</td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails"><i class="fa fa-eye"></i></a>
        </tr>
        <tr>
          <td>jon</td>
          <td>smith</td>
          <td>jsmith@email.com</td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails"><i class="fa fa-eye"></i></a>
        </tr>
        <tr>
          <td>jon</td>
          <td>smith</td>
          <td>jsmith@email.com<br><small class="record-alt">jon.smith@example.com</small></td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails"><i class="fa fa-eye"></i></a>
        </tr>
        <tr>
          <td>jon</td>
          <td>smith</td>
          <td>jsmith@email.com</td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails"><i class="fa fa-eye"></i></a>
        </tr>
        <tr>
          <td>jon</td>
          <td>smith</td>
          <td>jsmith@email.com</td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails"><i class="fa fa-eye"></i></a>
        </tr>
        <tr>
          <td>******</td>
          <td>******</td>
          <td>******</td>
          <td>US</td>
          <td>PA</td>
          <td><a class="btn btn-info" data-toggle="modal" data-target="#recordDetails" disabled><i class="fa fa-eye"></i></a>
        </tr>
        <tfoot>
          <tr>
          <td>First</td>
          <td>Last</td>
          <td>email address</td>
          <td>Country</td>
          <td>State</td>
          <td>details</td>
          </tr>
        </tfoot>
        </table>
      </div>
      </div><!--/.panel-->
    </div>
    <!--/.col-xs-12-->
  </div>
  <!--/.results-container.row-->
  <div class="row">
    <div class="col-xs-12">
    <panel>
      <ul>

      </ul>
    </panel>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-success btn-block">
        Generate full set
      </a>
      <a class="btn btn-success btn-block"><i class="fa fa-cog fa-spin"></i></a>
    </div>
  </div>
</main>
<!--/#main-->

<div class="modal fade" id="recordDetails" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Record Details</h4>
      </div>
      <div class="modal-body">
        <pre>
  "firstName": [
    "John",
    "Jonathan"
  ],
  "lastName": "Smith",
  "state": "NJ",
  "email": [
    {
      "value": "work",
      "type": "johnsmith@companyxyz.com"
    },
    {
      "value": "home",
      "type": "john@gmail.com"
    }
  ],
  "optIn": [
    {
      "type": "ELSEVIER",
      "value": false
    },
    {
      "type": "PRACTICE-UPDATE",
      "value": true
    }
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
