---
title: List Builder
layout: layout-search.hbs
---
<div class="page-content-header">
</div><!--/.page-content-header-->
<main id="main" role="main" class="col-xs-12">
<div class="row">
  <div class="col-xs-12">


    <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Data Source
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-primary" data-toggle="button">PracticeUpdate</button>
            <button type="button" class="btn btn-primary" data-toggle="button">Lakegroup</button>
            <button type="button" class="btn btn-primary" data-toggle="button">Providere</button>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <p>Summary of sources:</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Build your Filter
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
      <form id="list-filter" class="form-inline">
        <div class-"row">
          <div class="col-xs-3">
          <select class="form-control">
            <option>Country</option>
            <option>State</option>
            <option disabled>--------</option>
            <option>4</option>
            <option>5</option>
          </select>
</div><!--/col-->
<div class="col-xs-3">
          <select class="form-control">
            <option>is</option>
            <option>is not</option>
          </select>
          </div><!--/col-->
          <div class="col-xs-4">
            <div class="form-group">
              <div class="text">
                <input type="email" class="form-control" id="inputEmail3" placeholder="country name">
              </div>
            </div>
        </div><!--/col-->
          <div class="col-xs-2">
            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-minus"></i></button>
          </div>
        </div><!--/.row-->
      </form><!--/#list-filter-->
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Result Options
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Include the following information in the results</p>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> First Name
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> Last Name
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Address
</label>

      </div>
    </div>
  </div>
  <a class="btn btn-default">Build List</a>
</div>



  </div>
</div><!--/.row-->
	<div class="results-container row">
    <div class="col-xs-12">
    <div class="table-responsive">
  <table class="table table-striped">
    ...
  </table>
</div>
</div><!--/.col-xs-12-->
  </div><!--/.results-container.row-->
	<div id="aux" class="aux">
	</div><!--/#aux.aux-->
</main><!--/#main-->
