---
title: Search
layout: layout-search.hbs
---
<div class="page-content-header">
{{> content-header}}
{{> suggested-topics}}
</div><!--/.page-content-header-->
<main id="main" role="main">
<div class="row">
  <div class="col-xs-12">
{{#if bootstrap}}
{{!-- {{> carousel-bs carousel}} --}}
{{else}}
{{> carousel carousel}}
{{/if}}
  </div>
</div><!--/.row-->
	<div class="search-container ">
  </div><!--/.update-container-->
	<div id="aux" class="aux">
	</div><!--/#aux.aux-->
</main><!--/#main-->
