---
title: Update
layout: layout-update.hbs
---
<section role="main">
	<div class="stream-container">
    {{> page-filter}}
    {{> feed-item feed}}
	</div><!--/.stream-container-->
	<div id="aux" class="aux">
{{> cta cta-rmrc-test}}
{{> module-suggested-topics suggested-topics}}
{{> ad ad-boombox1}}
{{> module-most-read most-read}}
{{> ad ad-filmstrip1}}
{{>module-job-feed job-feed}}
{{> ad ad-boombox2}}
    <div id="cta-rmrc-eisai" class="cta cta-rmrc">
      <div class="cta-img-container">
        <a href="http://education.seminoncol.org/path.php?1399:0:Media:title:bxvcs" rel="external" target="_blank" class="th"><img src="http://placehold.it/300x250" alt="Learn more about Glioblastoma Multiforme"></a>
      </div><!--/.cta-img-container-->
    </div>
	</div><!--/#aux.aux-->
</section><!--/[role="main"]-->
<section id="sidebar" role="complementary">
{{> dashboard}}
{{> page-footer}}
</section><!--/#sidebar-->
