---
title: Update
layout: layout-update.hbs
---
<main id="main" role="main">
    {{> ad ad-leaderboard}}
	<div class="stream-container">
    {{!-- {{> page-filter}} --}}
    {{> content-header}}
  {{! <!-- begin featured content bucket -->}}
    <ul data-orbit data-options="resume_on_mouseout: true; slide_number: false; orbit-stack-on-small:true; bullets:false">
  <li data-orbit-slide="headline-1">
    <div class="small-6 columns">
      <img src="http://placehold.it/400x400&text=EIC-photo" />
    </div>
    <div class="small-6 columns">
      <h2>Headline 1</h2>
      <h3>Subheadline</h3>
      <p>Pellentesque habitant morbi tristique senectus.</p>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div class="small-6 columns">
      <img src="http://placehold.it/400x400&text=EIC-photo" />
    </div>
    <div class="small-6 columns">
      <h2>Headline 2</h2>
      <h3>Subheadline</h3>
      <p>Pellentesque habitant morbi tristique senectus.</p>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div class="small-6 columns">
      <img src="http://placehold.it/400x400&text=EIC-photo" />
    </div>
    <div class="small-6 columns">
      <h2>Headline 3</h2>
      <h3>Subheadline</h3>
      <p>Pellentesque habitant morbi tristique senectus.</p>
    </div>
  </li>
</ul>

<!-- Now link to the slides above -->
<ul class="inline-list hide-for-small">
  <li>
    <a class="th radius" href="#" data-orbit-link="headline-1">
      <img src="http://placehold.it/50x50&text=channel">
    </a>
  </li>
  <li>
    <a class="th radius" href="#" data-orbit-link="headline-2">
      <img src="http://placehold.it/50x50&text=channel">
    </a>
  </li>
  <li>
    <a class="th radius" href="#" data-orbit-link="headline-3">
      <img src="http://placehold.it/50x50&text=channel">
    </a>
  </li>
</ul>
{{! <!-- begin featured content bucket -->}}
    <div class="row">
          <div class="large-6 columns">
            <h3>Story Title which will be written by Editorial, since the article titles are too long.</h3>
            <p>Story Title which will be written by Editorial, since the article titles are too long.</p>
          </div>
          <div class="large-6 columns">
            <ul class="no-bullet">
              <li><p>Story Title which will be written by Editorial, since the article titles are too long.</p></li>
              <li><p>Story Title which will be written by Editorial, since the article titles are too long.</p></li>
              <li><p>Story Title which will be written by Editorial, since the article titles are too long.</p></li>
            </ul>
          </div>
        </div>
    {{> feed-item feed}}
	</div><!--/.stream-container-->
	<div id="aux" class="aux">
{{> cta cta-rmrc-test}}
{{> module-suggested-topics suggested-topics}}
{{> ad ad-boombox1}}
{{> module-most-read most-read}}
{{> ad ad-filmstrip1}}
{{>module-job-feed job-feed}}
{{> ad ad-boombox2}}
    <div id="cta-rmrc-eisai" class="cta cta-rmrc">
      <div class="cta-img-container">
        <a href="http://education.seminoncol.org/path.php?1399:0:Media:title:bxvcs" rel="external" target="_blank" class="th"><img src="http://placehold.it/300x250" alt="Learn more about Glioblastoma Multiforme"></a>
      </div><!--/.cta-img-container-->
    </div>
	</div><!--/#aux.aux-->
</main><!--/[role="main"]-->
<section id="sidebar" role="complementary">
{{> dashboard}}
{{> page-footer}}
</section><!--/#sidebar-->
