---
title: Urology
layout: layout-marketing.hbs
---
<!-- PAGE HERO/BANNER -->
<div class="hero">
  <div class="page-banner-container">
    <div class="page-banner container">
      <div class="row">
        <div class="hero-image-container col-md-7 col-md-push-5">
          <img class="hero-image img-responsive" src="http://pumarketing.s3.amazonaws.com/urology-landing/urology-ed-board-hero.jpg"/>
          <div class="hero-image-caption visible-sm visible-xs"><span class="expert-name">Roger R Dmochowski MD</span><span class="expert-name">Alan J Wein MD</span><span class="expert-name">Alan W Partin MD</span>
          </div>
        </div><!--/.hero-image-container-->
        <div class="brand-container col-md-5 col-md-pull-7">
          <p class="tagline">Our Experts.&nbsp;Your Practice.</p>
          <p class="lead">Receive customized, expert-selected research articles with exclusive summaries and insights <strong>from your peers in urology.</strong></p>
        </div>
      </div><!--/.row-->
      <div class="row hero-image-caption-container hidden-sm hidden-xs">
        <div class="hero-image-caption col-md-8 col-md-push-4"><span class="expert-name">Roger R Dmochowski MD</span><span class="expert-name">Alan J Wein MD</span><span class="expert-name">Alan W Partin MD</span>
        </div>
      </div><!--/.row-->
    </div><!--/.page-banner-->
    <div class="page-banner-action container">
      <div class="row">
        <div class="col-md-4">
          <a href="http://www.practiceupdate.com/User/Register" class="btn btn-primary btn-cta">Register for FREE!</a>
          <br/>
          <p class="text-center"><a href="http://www.practiceupdate.com/login">Already Registered? Signin here.</a></p>
        </div>
      </div><!--/.row-->
    </div><!--/.page-banner-action-->
  </div><!--/.page-banner-container-->
</div>

<!-- PAGE CONTENT -->
<div class="page-content-container container">
  <div class="page-content">
    <div class="site-benefits row">
        <div class="col-md-4" style="text-align:center;">
          <div class="illustration-container">
            <img src="http://pumarketing.s3.amazonaws.com/general-landing/icon-1@2x.png" />
          </div><!--/.illustration-container-->
          <p style="font-size:18px;"><span style="color:rgb(216,102,84);">Articles and research</span><br>from 100s of journals, hand-selected by our industry experts specifically for you.</p>
        </div><!--/.four.columns -->

        <div class="col-md-4" style="text-align:center;">
          <div class="illustration-container">
            <img src="http://pumarketing.s3.amazonaws.com/general-landing/icon-2@2x.png" />
          </div><!--/.illustration-container-->
          <p style="font-size:18px;"><span style="color:rgb(216,102,84);">Practice-focused commentary</span><br>and insight on the real-word application of new findings help you put your reading to work immediately.</p>
        </div><!--/.four.columns -->

        <div class="col-md-4" style="text-align:center;">
          <div class="illustration-container">
            <img src="http://pumarketing.s3.amazonaws.com/general-landing/icon-3@2x.png" />
          </div><!--/.illustration-container-->
          <p style="font-size:18px;"><span style="color:rgb(216,102,84);">Customized feeds</span><br>based on your specialty and preferences, for a quick and easy-to-scan homepage.</p>
        </div><!--/.four.columns -->
    </div><!--/.site-benefits-->
      <div class="row">
        <div class="col-sm-12">
        <h2 style="background-color:rgb(29,121,152); color:#FFF; font-size:36px; font-weight:normal; line-height:36px; margin:0; padding:14px;">About PracticeUpdate</h2>
        <p style="background-color:rgb(207,207,208); font-size:17px; margin:0; padding:14px 14px 56px;">PracticeUpdate is tailored to deliver the latest expert curated content based on the clinician's area of practice, and is optimized for viewing on any device. Individual access to PracticeUpdate is free, based upon users registering with the site.</p>
        </div>
    </div><!--/.row-->
  </div><!--/.page-content-->
</div><!--/.page-content-container-->

<!-- PAGE FOOTER -->
