---
layout: default.hbs
ad-slot: {leaderboard: false, boombox1: false, boombox2: false, filmstrip: false}
---
<header role="banner" class="page-heading">
  {{#if bootstrap}}
  {{> nav-bar}}
  {{else}}
  {{> top-bar}}
  {{/if}}
</header><!--/.page-heading-->
{{!--   {{> ad ad-leaderboard}} --}}
<div class="page-content-container container">
<div class="page-content">
  {{> body}}
</div><!--/.page-content-->
</div><!--/.page-content-container-->
<div class="page-footer-container container">
  {{> page-footer}}
</div><!--/.page-footer-container-->
