---
title: Dashboard
layout: default.hbs
---
<div role="banner" class="page-heading-container container">
<header role="banner" class="page-heading">
{{> nav-bar}}
</header><!--/.page-heading-->
</div><!--/.page-heading-container-->
{{!--   {{> ad ad-leaderboard}} --}}
<div class="page-content-container container">
<div class="page-content">
  {{> body}}
</div><!--/.page-content-->
</div><!--/.page-content-container-->
<div class="page-footer-container container">
  <footer class="page-footer">
  {{> page-footer}}
</footer><!--/.page-footer-->
</div><!--/.page-footer-container-->
