---
title: Dashboard
layout: default.hbs
---
<div role="banner" class="page-heading-container container">
<header role="banner" class="page-heading">
{{> nav-bar}}
</header><!--/.page-heading-->
</div><!--/.page-heading-container-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>HCP Online</h1>
    <p>HCP Online is an aggregation of Elsevier products and marketing sources into a single, searchable database. HCP Online allows a designated end-user to filter and export lists of contact information for their various marketing campaign requirements.</p>
    <form id="quick-search">
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="quick search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="icon-search"></i> Search</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </form>
  </div>
</div>
<div class="page-content-container container">
<div class="page-content">
  {{> body}}
</div><!--/.page-content-->
</div><!--/.page-content-container-->
<div class="page-footer-container container">
  <footer class="page-footer">
  {{> page-footer}}
</footer><!--/.page-footer-->
</div><!--/.page-footer-container-->
